@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}


<section id="about-me-section">

    <h1>Om mig</h1>

    <p>Hej! Anders heter jag som skapat detta spektakel.</p>
    <p>Jag har under de här två åren fått prova på väldigt många tekniker och verkligen känt mig själv utvecklas i en
        takt som jag inte trodde var möjlig.</p>
    <br>
    <p>Nu är det bara ett par kurser kvar innan vi skall vara färdiga för att testa på arbetslivet som utvecklare, en
        häftig känsla!</p>
    <br>
    <p>Att programmera i C# har varit det mest komplicerade för mig hittills tycker jag, det är någon slags spärr som
        jag inte riktigt tagit mig över ännu för att fullt förstå hur allt hänger samman men jag tycker fortfarande det
        är roligt och i och med det så växer kunskapen även om det är lite mer huvudbry.</p>

</section>