@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
  
}
<section id="index-container">
    <h1>Välkommen!</h1>
    <p>Denna webbplats representerar mina första stapplande steg i att lära mig ASP.NET med Razor Pages. Jag utforskar och experimenterar med HTML och korrekt formatering för att skapa en användarvänlig och visuellt tilltalande webbupplevelse.</p>
    <br>
    <p>Genom att kombinera C#-kod med Razor-syntax och HTML bygger jag dynamiska sidor och lär mig hur jag kan integrera server- och klient-sidan för att skapa responsiva och interaktiva användargränssnitt.</p>
</section>

